.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 3px;
	padding: 2px;
}

.item {
	border: 1px gray solid;
	background-color: rgb(250, 243, 243);
	text-align: center;
	max-width: 300px;
	margin: 5px;
	padding: 3px 3px 0 3px;
}

p {
	margin: 0;
}
