@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

.App {
	text-align: center;
	margin: 0 auto;
	max-width: 50em;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	color: #555;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 5vh;
	background: rgb(102, 123, 214);
	color: white;
}
